#PanelPictureAddress {
	background-color: rgba(76,76,76,1);
	width: 100%;
	height: 100%;
}
#littleimagebar {
	background-color: rgba(53,53,53,1);
	position: relative;
	width: 10%;
	height: 100%;
	overflow: auto;
	text-align: center;
}
#littleimagebar img {
	top: 20px;
	padding-bottom: 20px;
	width: 150px;
	height: 150px;
	position:relative;
}
#Bigimage {
        background-color: black;
        width: 40%;
        height: 100%;
      }