.bodyHome {
background: url(../Animals_tigers_1920x1200.jpg)  no-repeat center center;
    background-size: cover;
	background-attachment: fixed;
}
/* full width/height container */
#slides-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
 
/* double the height/width of a viewport */
#slides {
    width: 200%;
    height: 200%;
    position: fixed;
    top: 0;
    left: 0;
}
.slide {
    position:relative;
    width:100%;
    height:100%;
	top:0;
}
#slide-1 {
	background: url(../Animals_tigers_1920x1200.jpg)  no-repeat center center;
    background-size: cover;
	background-attachment: fixed;
}
#slide-2 {
    background-size: cover;
    -webkit-transform: translate(100%,0%);
    -ms-transform: translate(100%,0%);
    transform: translate(100%,0%);
}
#slide-3 {
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 */



    background-size: cover;
    -webkit-transform: translate(100%,100%);
    -ms-transform: translate(100%,100%);
    transform: translate(100%,100%);
}
#slide2imgcont{
	background:rgba(45,45,45,0.6);
	margin:0 auto;
	position:relative;
	height:100%;
	width:76%;
	overflow:scroll;
}
#slide2imgcont img{
	margin:0 auto;
	top:40px;
	padding-left:20px;
	padding-right:20px;
	position:relative;
	left:20px;
	padding-bottom:40px;
	height:240px;
	width:240px;
}
.slide2shareimgcontainer{

	margin:0 auto;
	height:46%;
	width:100%;
	
}
#slide3cont{
	margin:0 auto;
	margin-top:50px;
	position:relative;
	width:100%;
	height:15%;
	text-align:center;
}
.slide3p1{
	font-family:"inherit";
  margin-bottom: 5px;
  font-size: 50px;
  font-weight: 400;
  color: #333;
  line-height: 1.4;
  text-align: center;
  padding: 0 3rem;
  margin:0 auto;
  width:64%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.slide3p2{
	font-family:"inherit";
	color:#767676;
	margin-top: 10px;
	font-weight: 400;
	font-size: 25px;
	text-align: center;
}
#slide3cont span{
	margin-top:80px;
}
#slide3cont img{
	margin:0 auto;
	width:300px;
	height:200px;
}
span p{
	font-family:"inherit";
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 400;
  color: #888888;
  line-height: 1.4;
  text-align: center;
  margin:0 auto;
  width:370px;
}
.slide3spans1{
	float:left;
}
.slide3spans2{
	margin:0 auto;
}
.slide3spans3{
	float:right;
}
#slide3span1line{
	margin:0 auto;
	margin-top:20px;
	width:30%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
#slide3span2line{
	margin:0 auto;
	margin-top:20px;
	width:30%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
#slide3span3line{
	margin:0 auto;
	margin-top:20px;
	width:30%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}