@charset "utf-8";
body{
	overflow:visible;
	background-color:#333;
}
article {
	position:relative;
	margin:0 auto;
	width:50%;
	background-color:rgba(233, 233, 233,1);
	border-radius:2px;
	padding:9px;
}
h1 {
	font-family:"paragraf2";
  font-size: 4rem;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
  padding: 0 3rem;
  width:400px;
  margin:0 auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
em {
  font-style:oblique;
  font-family:Segoe Script;
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.4;
  font-style:italic;
  max-width: 30em;
  margin: 1.4em auto;
  padding: 0 1em;
}
@media only screen and (min-width : 100px) and (max-width : 1000px){
	em {
  font-style:oblique;
  font-family:Segoe Script;
  font-size: 1rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.4;
  font-style:italic;
  max-width: 60em;
  margin: 1.4em auto;
  padding: 0 1em;
}
article {
	position:relative;
	margin:0 auto;
	width:70%;
	background-color:rgba(233, 233, 233,1);
	border-radius:2px;
}
h1 {
	font-family:"paragraf2";
  font-size: 2rem;
    margin:0 auto;
	  width:116px;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
  padding: 0 3rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
}