@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?y1mr31');
	src:url('fonts/icomoon.eot?#iefixy1mr31') format('embedded-opentype'),
		url('fonts/icomoon.woff?y1mr31') format('woff'),
		url('fonts/icomoon.ttf?y1mr31') format('truetype'),
		url('fonts/icomoon.svg?y1mr31#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-images:before {
	content: "\e601";
}
.icon-film:before {
	content: "\e602";
}
.icon-drawer:before {
	content: "\e603";
}
