@charset "utf-8";
/* CSS Document */

 
.lli > ul {
	display:block;
	position:absolute;
	background:#000;
	left:0;
	right:0;
	overflow:hidden;
	height:0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
.lli a {
	color:#fff;
	display:block;
	line-height:20px;
	padding:20px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
.lli > ul > li a:hover {
	background:#5da5a2;
}
 
.lli > a span {
	background:#174459;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
.lli > a span .icon {
	display:block;
	line-height:60px;
}
 
.lli > a:visited > span{
	top:0;
}
 
.lli a .one {
	background:#0e5061;
	top:0;
}
.lli a .two {
	background:#166ba2;
	top:0;
}
.lli a .three {
	background:#f25724;
	top:0;
}
.lli a .four {
	background:#1b3647;
	top:0;
}