@charset "utf-8";
/* CSS Document */
body{
	background-image:url(Natural-Wallpaper-10.jpg);
	background-size: cover;
}
 .modal {
    /* some styles to position the modal at the center of the page */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 504px;
    margin-left: -400px;
    margin-top: -200px;
	background:url(assets/img/Overlaybg.jpg);
    text-align: center;
    border-radius: 5px;
   
    /* needed styles for the overlay */
    z-index: 10; /* keep on top of other elements on the page */
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}
  .Clickdiv {
    background: #def3ca;
    margin: 3px;
    width: 80px;
    display: none;
    float: left;
    text-align: center;
  }
#Buttondiv{
	margin:0 auto;
	top:10%;
	width:100%;
	height:20%;
	position:fixed;
	visibility:visible
}
.Button1{
	cursor: pointer;
	margin:0 auto;
	width:220px;
	height:150px;
}
.Button1 img{
	width:100px;
	height:100px;
}
.Button1 p{
	font-family:"Segoe Print";
  font-size: 2rem;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
}
.Button2{
	position:absolute;
	display:inline-block;
	right:100%;
	top:11.5px;
	background-color:#d3d3d3;
		-webkit-box-shadow: 0 2px 6px -0px black;
	   -moz-box-shadow: 0 2px 6px -0px black;
	        box-shadow: 0 2px 6px -0px black;
    cursor: pointer;
}
.Button2 img{
	width:40px;
	height:40px;
}
.Centerimg{
	top:175px;
	margin:-78px;
	width:150px;
	height:121px;
	position:fixed;
	visibility:visible
}
.dropzone {
	font-family: "Arial",sans-serif;
	width:300px;
	height:300px;
	border:2px dashed #ccc;
	color:#ccc;
	line-height:300px;
	text-align:center;
}
.dropzone.dragover {
	border-color:#000;
	color:#000;
}
nav > ul {
	display:table;
	width:100%;
	background:rgba(45,45,45,.1);
	position:relative;
}
----------------------------------------------
html, body, article, .panel::before {
  width: 100%;
  height: 100%;
}

.panel { /*основния панел на Picture Adress*/
	bottom:0;
	width:100%;
	height:70%;
  position: fixed;
}

.panel::before {
  z-index: -1;
  display: block;
  position: absolute;
  content: ' ';
}
.panel::before {
}

.panel{
	background-image:url(BackgroundProba123.png);
}
.panel.down {
  transform: translateY(100%) translateY(-5rem);
  transform: translateY(100%) translateY(-5rem) translateZ(0);
}

.panel.down::before {
  transform: translateY(-100%) translateY(5rem);
  transform: translateY(-100%) translateY(5rem) translateZ(0);
}

.panel.up, .panel.up::before {
  transform: translateY(0);
  transform: translateY(0) translateZ(0);
}

.preload * {
  transition: none !important;
}

.panel, .panel::before {
  transition: transform 0.5s ease-out;
}

h1 {
	font-family:"Segoe Print";
  font-size: 4rem;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
  padding: 0 6rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

h1::before {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/28727/double-chevron-up.svg');
  content: ' ';
  display: block;
  width: 6rem;
  height: 6rem;
  transition: transform 0.2s ease-out 0.5s;
}

.up h1::before {
  transform: rotate(180deg);  
}
.imgprof{
	display:block;
	-webkit-border-radius:10px;
width:100%;
height:100%;
}
.Profilimg{
	left:7%;
	top:10%;
	position:relative;
	width:25%;
	padding-right:10px;
	padding-left:10px;
	padding-bottom:0.8%;
	padding-top:0.8%;
	background-image:url(borderprofilimg2.jpg);
-webkit-border-radius:5%;
}