html, body {
    width:100%;
    height:100%;
}
@font-face {
	font-family: ciber;
	src:url(fonts/cubic.ttf);	
}
@font-face {
	font-family: rakopisno;
	src:url(fonts/AYUMA___.TTF);	
}
@font-face {
	font-family: paragraf;
	src:url(fonts/Squared%20Display.ttf);
}
@font-face{
	font-family: paragraf2;
	src:url(fonts/Squares%20Bold%20Free.otf);
}
@font-face{
	font-family: paragraf3;
	src:url(fonts/Xperia.ttf);
}
@font-face{
	font-family: Homepage;
	src:url(fonts/Champagne%20&%20Limousines.ttf);
}
@font-face{
	font-family: Segoe%20Script;
	src:url(fonts/sageo%20print.ttf);
}
@font-face{
	font-family: Walkwaysemibold;
	src:url(fonts/Walkway%20SemiBold.ttf);
}
* {
	margin:0;
	padding:0;
}
 
header {
    width: 100%;
    overflow: hidden;
    height: 150px;
    position: relative;
}
 
nav {
	font-family:"Segoe Print";
    position: absolute;
    left:0;
    right:0;
	width:100%;
}
 
nav ul {
	list-style:none;
}
 
nav > ul {
	display:table;
	width:100%;
	background:#000;
	position:relative;
}
 
nav > ul li {
	display:table-cell;
}

nav > ul > li:hover > ul {
	display:block;
	height:100%;
}
 
.vli > ul {
	display:block;
	position:absolute;
	background:#000;
	left:0;
	right:0;
	overflow:hidden;
	height:0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
.vli a {
	color:#fff;
	display:block;
	line-height:20px;
	padding:20px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
.vli > ul > li a:hover {
	background:#5da5a2;
}
 
.vli > a span {
	background:#174459;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
.vli > a span .icon {
	display:block;
	line-height:60px;
}
 
.vli > a:hover > span {
	top:0;
}
 
.vli a .one {
	background:#0e5061;
}
 
.vli a .two {
	background:#166ba2;
}
 
.vli a .three {
	background:#f25724;
}
 
.vli a .four {
	background:#1b3647;
}
#Vvideo{
	position:fixed;
	right:0;
	top:0;
	min-width:100;
	min-height:100;
	width:auto;
	height:auto;
	z-index: -100;
	background: url(Video.png) no-repeat;
	background-size:cover;
	
}
.Maincont{
	margin:0 auto;
	text-align: center;
	clear:both;
	line-height:40px;
	position:relative;
	background-color: rgba(233, 233, 233,0.1);
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-top-right-radius:5px;
	-moz-border-top-left-radius:5px;
	padding: 4.88% 5%;
	width:80%;
	-webkit-transition: all .9s ease;
	-moz-transition: all .9s ease;
	-ms-transition: all .9s ease;
	-o-transition: all .9s ease;
	transition: all .9s ease;

}
.Maincont:hover{
	margin:0 auto;
	clear:both;
	line-height:40px;
		background-color: rgba(233, 233, 233,0.6);
	border-top-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-right-radius:0px;
	-moz-border-top-left-radius:0px;
	padding: 4.88% 4.89%;
	width:90%;
	-webkit-transition: all .9s ease;
	-moz-transition: all .9s ease;
	-ms-transition: all .9s ease;
	-o-transition: all .9s ease;
	transition: all .9s ease;
}
.Maincont:hover .afterhoverp {
	color:black;
	opacity:1;
		width:auto;
	height:auto;
	text-align:center;
  font-size: 1.8rem;
  line-height: 1.4;
  max-width: 30em;
  margin: 1.4em auto;
  padding: 0 1em;
  font-weight:bold;
}
.Maincont:hover .afterwe {
	color:black;
	opacity:1;
		width:auto;
	height:auto;
	text-align:center;
  font-size: 1.8rem;
  line-height: 1.4;
  max-width: 30em;
  min-width: 0em;
  min-height: 0em;
  margin: 1.4em auto;
  padding: 0 1em;
  font-weight:bold;
  	-webkit-transition: all 1.39s ease;
	-moz-transition: all 1.39s ease;
	-ms-transition: all 1.39s ease;
	-o-transition: all 1.39s ease;
	transition: all 1.39s ease;
}
.afterhoverp{
	font-family:"Walkwaysemibold";
	opacity:0.0;
	width:0;
	height:0;
}
.afterwe{
	font-family:"Walkwaysemibold";
	opacity:0.0;
	width:0;
	height:0;
}
.Maincont:hover .paragraf{
	opacity:0.0;
	width:0;
	height:0;
}
.paragraf {
	position:relative;
	margin:0 auto;
	height:auto;
	width:auto;
}
.Maincont:hover .logoimg{
	opacity:0.0;
	width:0;
	height:0;
}
.afterhover{
	opacity:0.0;
	height:0;
	width:0;
}
.Maincont:hover .afterhover{
	margin:0 auto;
	opacity:1;
	height:250px;
	width:250px;
}
@media only screen and (min-width : 100px) and (max-width : 1915px){
.paragraf {
	position:relative;
	margin:0 auto;
	width:100%;
	height:auto;
	max-width:900px;
}
}
.logoimg{
	position:relative;
	top:0;
	width:153px;
	height:153px;
}
@media only screen and (min-width : 100px) and (max-width : 500px){
	header {
    width: 100%;
    overflow: hidden;
    height: 600px;
    position: relative;
}
 
nav {
    position: absolute;
    left:0;
    right:0;
	width:100%;
}
 
nav ul {
	list-style:none;
}
 
nav > ul {
	display:block;
	width:100%;
	background:#000;
	position:relative;
}
 
nav > ul li {
	display:block;
}

nav > ul > li:hover > ul {
	display:block;
	height:100%;
}
.vli > ul {
	display:block;
	position:absolute;
	background:#000;
	left:0;
	right:0;
	overflow:hidden;
	height:0%;
	-webkit-transition: width 3s ease;
-moz-transition: width 3s ease;
-ms-transition: width 3s ease;
-o-transition: width 3s ease;
transition: width 3s ease;
}
 .vli a {
	color:#fff;
	display:block;
	line-height:20px;
	padding:20px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: width 3s ease;
-moz-transition: width 3s ease;
-ms-transition: width 3s ease;
-o-transition: width 3s ease;
transition: width 3s ease;
}
 
.vli > ul > li a:hover {
	background:#5da5a2;
}
 
.vli > a span {
	background:#174459;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-255px;
	-webkit-transition: width 3s ease;
-moz-transition: width 3s ease;
-ms-transition: width 3s ease;
-o-transition: width 3s ease;
transition: width 3s ease;
}
.vli > a span .icon {
	display:block;
	line-height:60px;
}
 
.vli > a:hover > span {
	top:0;
}
}
::-webkit-scrollbar {
    width: 5px;
	height:0;
}  
::-webkit-scrollbar-track {    
}  
::-webkit-scrollbar-thumb {
    background-color: #ccc; 
}  
::-webkit-scrollbar-thumb:hover { 
    background-color: #aaa;  
}  
::-webkit-scrollbar  
::-webkit-scrollbar-button  
::-webkit-scrollbar-track  
::-webkit-scrollbar-track-piece    
::-webkit-scrollbar-thumb  
::-webkit-scrollbar-corner  
::-webkit-resizer  
