@charset "utf-8";
/* CSS Document */
body {
	width:100%;
    height:100%;
	 /* Chrome */
  background: -webkit-linear-gradient(left,#147465,#02bbff);
    /* Opera */
  background: -o-linear-gradient(left,#147465,#02bbff);
   /* Mozilla */
  background: -moz-linear-gradient(left,#147465,#02bbff);
  /* Explorer */
  background: linear-gradient(left, #147465, #02bbff);
}
#icon{
	background-color: rgba(255,255,255,.15);
	/* Chrome */
	-webkit-border-radius:50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
	/* Opera */
	-o-border-radius:50%;
	-o-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-o-transition:box-shadow .4s;
	/* Mozilla */
	-moz-border-radius:50%;
	-moz-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-moz-transition:box-shadow .4s;
	/* Explorer */
	border-radius:50%;
	box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	transition:box-shadow .4s;
}
#icon:hover{
	/* Chrome */
	-webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,.6);
	/* Opera */
	-o-box-shadow: 0px 0px 0px 0px rgba(255,255,255,.6);
	/* Mozilla */
	-moz-box-shadow: 0px 0px 0px 0px rgba(255,255,255,.6);
	/* Explorer */
	box-shadow: 0px 0px 0px 0px rgba(255,255,255,.6);
}
::-webkit-scrollbar {
    width: 5px;
	height:0;
}  
::-webkit-scrollbar-track {    
}  
::-webkit-scrollbar-thumb {
    background-color: #ccc; 
}  
::-webkit-scrollbar-thumb:hover { 
    background-color: #aaa;  
}  
::-webkit-scrollbar  
::-webkit-scrollbar-button  
::-webkit-scrollbar-track  
::-webkit-scrollbar-track-piece    
::-webkit-scrollbar-thumb  
::-webkit-scrollbar-corner  
::-webkit-resizer  
----------------------------------------------------
::-moz-scrollbar {
    width: 5px;
	height:0;
}  
::-moz-scrollbar-track {    
}  
::-moz-scrollbar-thumb {
    background-color: #ccc; 
}  
::-moz-scrollbar-thumb:hover { 
    background-color: #aaa;  
}  
::-moz-scrollbar  
::-moz-scrollbar-button  
::-moz-scrollbar-track  
::-moz-scrollbar-track-piece    
::-moz-scrollbar-thumb  
::-moz-scrollbar-corner  
::-moz-resizer  
----------------------------------------------------
::-o-scrollbar {
    width: 5px;
	height:0;
}  
::-o-scrollbar-track {    
}  
::-o-scrollbar-thumb {
    background-color: #ccc; 
}  
::-o-scrollbar-thumb:hover { 
    background-color: #aaa;  
}  
::-o-scrollbar  
::-o-scrollbar-button  
::-o-scrollbar-track  
::-o-scrollbar-track-piece    
::-o-scrollbar-thumb  
::-o-scrollbar-corner  
::-o-resizer  