/*-------------------------
    Dropbox Element
--------------------------*/

#dropbox{
    background:url(../img/background_tile_3.jpg) no-repeat;
	font-family:"Segoe Print";
    border-radius:3px;
	top:0%;
    position: relative;
    margin:10px auto 90px;
    height: 88%;
    padding-bottom: 40px;
    width: 800px;
	overflow:scroll;

    box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}

#dropbox .message{
    font-size: 30px;
	color:white;
    text-align: center;
    padding-top:160px;
    display: block;
}

#dropbox .message i{
    color:#ccc;
    font-size:20px;
}

#dropbox:before{
    border-radius:3px 3px 0 0;
}

/*-------------------------
    Image Previews
--------------------------*/

#dropbox .preview{
    width:245px;
    height: 215px;
    float:left;
    margin: 55px 0 0 60px;
    position: relative;
    text-align: center;
}

#dropbox .preview img{
    max-width: 240px;
    max-height:180px;
    border:3px solid #fff;
    display: block;

    box-shadow:0 0 2px #000;
}

#dropbox .imageHolder{
    display: inline-block;
    position:relative;
}

#dropbox .uploaded{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:url(../img/done3.png) no-repeat center center rgba(255,255,255,0.5);
    display: none;
}

#dropbox .preview.done .uploaded{
    display: block;
}

/*-------------------------
    Progress Bars
--------------------------*/

#dropbox .progressHolder{
    position: absolute;
    background-color:#252f38;
    height:12px;
    width:100%;
    left:0;
    top: 100%;

    box-shadow:0 0 2px #000;
}

#dropbox .progress{
    background-color:#2586d0;
    position: absolute;
    height:100%;
	top:0%;
    left:0;
    width:0;

    box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;

    -moz-transition:1.25s;
    -webkit-transition:1.25s;
    -o-transition:1.25s;
    transition:1.25s;
}

#dropbox .preview.done .progress{
    width:100% !important;
}
/*---------------------------
     Share button
---------------------------*/
#Share_button {
	display:block;
	position:absolute;
	bottom:20px; /* possition */
	right:-85px; /* possition */
	padding: 8px 10px 5px 10px;
	text-align:center;
	/* Button defintion */
	height:30px;
	width:100px;
	border-radius:5px;
	/* TEXT STYLE */
  font-family: Arial;
  font-size: 1.5rem;
  text-decoration: none;
  color:#4c4c4c;
  /* Border */
  border-style: solid;
    border-width: 2px;
	border-color:#808080;
/* Background */
background: #dbdbdb;
  background-image: -webkit-linear-gradient(top, #dbdbdb, #9e9e9e);
  background-image: -moz-linear-gradient(top, #dbdbdb, #9e9e9e);
  background-image: -ms-linear-gradient(top, #dbdbdb, #9e9e9e);
  background-image: -o-linear-gradient(top, #dbdbdb, #9e9e9e);
  background-image: linear-gradient(to bottom, #dbdbdb, #9e9e9e);
  /* Transition */
  -moz-transition:0.8s;
    -webkit-transition:0.8s;
    -o-transition:0.8s;
    transition:0.8s;
   /* Cursor */
   cursor: pointer;
}
#Share_button i {
	float:left;
}
#Share_button:hover {
	/* Background */
  background: #b8b8b8;
  background-image: -webkit-linear-gradient(top, #b8b8b8, #b8b8b8);
  background-image: -moz-linear-gradient(top, #b8b8b8, #b8b8b8);
  background-image: -ms-linear-gradient(top, #b8b8b8, #b8b8b8);
  background-image: -o-linear-gradient(top, #b8b8b8, #b8b8b8);
  background-image: linear-gradient(to bottom, #b8b8b8, #b8b8b8);
  /* TEXT STYLE */
  text-decoration: none;
  color:#000000;
  /* possition */
  right:-5px;
  /* Transition */
-moz-transition:0.8s;
    -webkit-transition:0.8s;
    -o-transition:0.8s;
    transition:0.8s;
}